body {
    background-color: #EEECF8;
    font-family: 'Segoe UI';
}
h3, h4, h5 {
    font-weight: bold;
    color: #293051;
}
/* Suggested */
.suggested {
    color: #293051;
    font-size: 14px;
    padding: 5% 3% 0 3%;
}

.suggested-item button, .suggested-btn button {
    /* display: inline; */
    background: #fff;
    width: 13%;
    height: 45px;
    margin: 16px 16px 5px 5px;
    outline-style: none;
    border: 1px solid #888888;
    border-radius: 10px;
    text-align: left;
    transition: .5s;
}

.suggested-btn button:hover, .suggested-item button:hover {
    background-color: #E9EDEF;
    color: #379237;
    border-color: #379237;
}

/* Accounting Button */
.suggested-btn button i, .suggested-item button i {
    padding: 0 0 0 5px;
}

.suggested-btn a, .suggested-item a{
    text-decoration: none;
    display: inline-block;
    width: 15%
}

#create-new {
    position: fixed;
    margin: 3%;
    bottom: -4%;
    right: 0;
}

.create-new-btn button {
    background-color: #fff;
    font-weight: bold;
    color: #379237;
    width: 100px;
    height: 50px;
    outline-style: none;
    border-style: none;
    border-radius: 100px;
    box-shadow: 0px 0px 20px 0px rgba(41, 48, 81, 0.75);
}

.create-new-btn :hover {
    background-color: #E9EDEF;
    transition: .5s;
}

.byName{
    font-size: 14px;
    font-weight: 700;
    color: #888888;
}
/* media query */
@media screen and (max-width: 1024px) {
    body {
        display: none;
    }
}