/* FOR CREATING JEV */
.modal-jev{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.600);
    /* Black w/ opacity */
    backdrop-filter: blur(1.5px);
}

textarea{
    resize: none;
    overflow: auto;
}
/* FOR CREATING JEVFOR DATA */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    font-family: 'Segoe UI';
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.822);
    /* Black w/ opacity */
    backdrop-filter: blur(1.5px);
}

.jev-modal-content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 50%;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 80vh;
    border-radius: 1rem;
    overflow-y: scroll;
    width: 70%;
    /* Could be more or less, depending on screen size */
}
/* #style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
} */

#style-1::-webkit-scrollbar
{
	width: 6px;
    z-index: 1;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.btnBackJev{
    display: inline-block;
    color: #aaa;
    width: 10%;
    padding: 0 0 10px 0;
    font-size: 18px;
    transition: 0.3s;
    font-weight: bold;
}
.btnBackJev:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btnBack {
    color: #aaa;
    width: 10%;
    padding: 0 0 10px 0;
    margin: 0 0 25px 0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btnBack:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

span.btnBack {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
}

.btnInput{
    display: block;
    background-color: #379237;
    font-weight: bold;
    color: #fff;
    height: 40px;
    border-style: none;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px rgba(41, 48, 81, 0.75);
}

.btnCancel{
    background-color: #fff;
    font-weight: bold;
    color: #379237;
    width: 100px;
    outline-style: none;
    border-style: none;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px rgba(41, 48, 81, 0.75);
}

.btnSaveJev{
    background-color: #379237;
    font-weight: bold;
    color: #fff;
    width: 100px;
    height: 40px;
    outline-style: none;
    border-style: none;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px rgba(41, 48, 81, 0.75);
}
.btnSaveJev:hover, .btnInput:hover{
    background-color: #31af31;
    border: 1px solid grey;
    color: white;
}
.next-btn{
    text-align: center;
}
.btnSave{
    background-color: #379237;
    font-weight: bold;
    color: #fff;
    width: 100px;
    outline-style: none;
    border-style: none;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px rgba(41, 48, 81, 0.75);
}
.btnSave:hover{
    background-color: #31af31;
    border: 1px solid grey;
    color: white;
}
.btnCancel:hover{
    background-color: #888;
    border: 1px solid gray;
    color: white;
}
.btn-float{
    float: right;
    margin: 0 5px;
}
.btn{
    width: 100px;
    text-align: center;
    display: inline-block;
}
.label{
    font-size: 12px;
    color: #888;
    margin: 0;
}
