*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI';
    background-color: #fff;
    padding: 0 1%;
}
/* #region HEADER */

    /* #region BUTTONS */
    #header{
        padding: 1% 0;
        font-family: Calibri;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
    }
    .btns{
        display: flex;
        color: #EDF2FA;
        width: fit-content;
        border-radius: 10px;
    }

    .btns i{
        padding: 10px;
    }

    .fa-solid{
        color: #39423f;
        cursor: pointer;
    }

    .fa-solid:hover{
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.36);
        border-radius: 20px;
    }

    .fa-check{
        display: none;
    }

    .icon{
        font-size: 14pt;
    }
    /* #endregion */

    /* #region Header */
    .header p{
        line-height: .5rem;
        display: inline;
    }
    .red{
        color: red;
    }
    /* #endregion */
/* #endregion */

/* #region TABLE */
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}
th{
    padding: 3px;
    text-align: center;
    font-family: Calibri;
    border: 1px solid #000;
    font-size: 11pt;
}
td{
    font-size: 11pt;
    font-family: Calibri;
    border: 1px solid #000;
    font-weight: bold;
}
.edit-input{
    width: 10%;
    height: 16pt;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px;
}
.edit-total{
    height: 16pt;
    padding: 0;  
    font-weight: bold;
}
#totalDebit, #totalCredit{
    margin: 0;
}
/* #endregion */
/* body{
    font-family: 'Segoe UI';
    margin: 0;
}
@page{
    size: A4 landscape;
    margin: 8px 0 10px 20px;
}
.column{
    float: left;
    padding: 5px;
}
.box-body{
    display: block;
    padding: 5px 10px 0 10px;
}
.inv-heading{
    text-align: center;
    padding: 20px;
}
.inv-heading a{
    font-weight: 700;
    float: left;
    font-size: 18px;
    text-decoration: none;
    color: #888888;
}
.inv-heading a:hover{
    color: #494949;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    border: 1px solid black;
    text-align: left;
    padding: 12px;
}
th{
    border: 1px solid black;
    text-align: center;
    padding: 12px;
}
.btnPrint{
    display: block;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
button{
    display: inline-block;
    border-radius: 50px;
    border: 1px solid transparent;
    color: white;
    background-color: #379237;
    font-weight: 700;
    font-size: 16px;
    height: 45px;
    width: 125px;
}
button:hover{
    background-color: #1e641e;;
}
@media print{
    .btnPrint{
        display: none;
    }
} */