<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounting</title>

    <!-- favicon -->
    <link rel="icon" type="favicon" href="/img/brand.png">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/5bac83b9a1.js" crossorigin="anonymous"></script>

    <!-- Local css -->
    <link rel="stylesheet" href="/css/home-stylesheet.css">
    <link rel="stylesheet" href="/css/login-stylesheet.css">
    <!-- <link rel="stylesheet" href="/css/modal-stylesheet.css"> -->
    <link rel="stylesheet" href="/css/changePass-stylesheet.css">
    <link rel="stylesheet" href="/css/table-stylesheet.css">
    <link rel="stylesheet" href="/css/navbar-style.css">

</head>

<body>

    <body>
        <section id="title">
            <nav class="navbar-bd">
                <div class="nav-brand">
                    <a href="/homepage"><img src="/img/brand.png" alt="logo"></a>
                </div>

                <div class="search-bd">
                    <form action="" id="search" class="search-bar">
                        <button id="search-icon"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                            <%if(activeButton === 'home'){%>
                                <input type="search" name="" id="search-record" placeholder="Search JEV No.">
                            <%}else if(activeButton === 'userMng') {%>
                                <input type="search" name="" id="search-user" placeholder="Search employee id">
                            <%}%>
                    </form>
                </div>

                <div class="nav-content-bd ml-auto">
                    <ul>
                        <li class="navbar-item <% if (activeButton === 'home'){%> active <%}%>" id="home"><a href="/homepage">Home</a></li>
                        <li class="navbar-item <% if (activeButton === 'userMng'){%> active <%}%>" id="user-management"><a href="/userControl">User Management</a></li>
                        <li class="navbar-item dropdown">
                            <%= `${username}` %> &ThickSpace; 
                            <i class="fa-solid fa-caret-down"></i>
                            <div class="dropdown-container">
                                <div class="switch-container">
                                    <div class="drop-item">
                                        <i class="fa-solid fa-sun switch-item"></i>
                                        <label class="switch switch-item">
                                            <input type="checkbox" title="themeBtn" id="">
                                            <span class="slider round"></span>
                                        </label>
                                        <i class="fa-solid fa-moon switch-item"></i>
                                    </div>
                                </div>
                                <a class="drop-item" id="changePasswordBtn"><i class="fa-solid fa-lock"></i> Change password</a>
                                <a href="/logout" class="drop-item"><i class="fa-solid fa-right-from-bracket"></i>
                                    Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <section class="pass-container">
            <div class="changepass-content">
                <div>
                    <h4>Change Password</h4>
                </div>
                <form id="changePasswordForm">
                    <div class="inputs">
                        <label for="currentPass">Current Password</label>
                        <input type="password" id="currentPass" required>
                    </div>

                    <div class="inputs">
                        <label for="newPass">New Password</label>
                        <input type="password" id="newPass" required>
                    </div>

                    <div class="inputs">
                        <label for="confPass">Confirm Password</label>
                        <input type="password" id="confPass" required>
                    </div>

                    <div class="btns">
                        <button type="button" id="cancelChangePass">Cancel</button>
                        <button type="submit" id="confirm">Confirm</button>
                    </div>
                </form>
            </div>
        </section>
        <script src="socket.io/socket.io.js"></script>
        <script src="/js/navbar-script.js"></script>
        
    </section>
    </body>

</html>