<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounting</title>

    <!-- favicon -->
    <link rel="icon" type="favicon" href="/img/brand.png">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/5bac83b9a1.js" crossorigin="anonymous"></script>

    <!-- Local css -->
    <link rel="stylesheet" href="/css/home-stylesheet.css">
    <link rel="stylesheet" href="/css/login-stylesheet.css">
    <link rel="stylesheet" href="/css/modal-stylesheet.css">
    <link rel="stylesheet" href="/css/table-stylesheet.css">
    <link rel="stylesheet" href="css/preloader-style.css">
    <link rel="stylesheet" href="/css/navbar-style.css">

</head>
<body>
    <!--PARTIAL OF NAVBAR-->
    <section id="navbar-partial">
        <%- include('../partial/navbar', {username}); %>   
    </section>

    <section>
        <div class="suggested">
            <h5>Suggested</h5>
            <div class="suggested-item">
                <a href="/fund01"><button><i class="fa-solid fa-list"></i> Fund 01 - Regular</button></a>
                <a href="/fund03"><button><i class="fa-solid fa-list"></i> Fund 03 - Special</button></a>
                <a href="/fund07"><button><i class="fa-solid fa-list"></i> Fund 07 - Trust</button></a>
            </div>
        </div>
    </section>

    <!--PARTIAL OF RECORDS-->
    <section id="records-partial">
        <%- include('../partial/records', {data}); %>
    </section>

    <!--PARTIAL OF ALL MODALS-->
   <section id="modal-partial">
        <%- include('../partial/modal'); %>
   </section>

</body>

</html>