<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEV</title>
    <link rel="stylesheet" href="/css/print-stylesheet.css">
    <!-- favicon -->
    <link rel="icon" type="favicon" href="/img/brand.png">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/5bac83b9a1.js" crossorigin="anonymous"></script>
</head>
<body class="A4 Portrait">
    <section class="sheet" id="content-print">
        <div class="box-body">
            <div class="">
                <div class="row">
                    <div class="col-lg-4 inv-heading">
                        <a href="home.html"><i class="fa-sharp fa-solid fa-angle-left"></i>&ThickSpace; Back</a>
                        <!-- TODO fetch the Year and Fund number -->
                        <h2>GENERAL JOURNAL FY 2023<!--Add Year--><span style="color: red;"> FUND 01 <!-- Add Fund No.--></span></h2>
                    </div>
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Reference JEV No.</th>
                            <th>Account</th>
                            <th>UACS Code</th>
                            <th>Debit</th>
                            <th>Credit</th>
                        </tr>
                        <tr>
                            <td>Enter Date here</td>
                            <td>Enter Ref. JEV No.Here</td>
                            <td>Enter Account Here</td>
                            <td>Enter UACS Code</td>
                            <td>Enter Debit</td>
                            <td>Enter Credit</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="btnPrint">
            <button onclick="window.print();">Print</button>
        </div>
    </section>
    <script src="accounting.js"></script>
</body>
</html>