<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Games and Amusements Board</title>

        <!-- favicon -->
        <link rel="icon" type="favicon" href="/img/brand.png">

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/5bac83b9a1.js" crossorigin="anonymous"></script>
    
        <!-- Local CSS -->
        <!-- <link rel="stylesheet" href="home-stylesheet.css"> -->
        <link rel="stylesheet" href="/css/printJev-stylesheet.css">
    </head>
    <body>
      
    
        <section id="header">
            <div class="btns">
                <i id="back-btn" class="icon fa-solid fa-circle-arrow-left"></i>
                <i id="check-btn" class="icon fa-solid fa-check"></i>
                <i id="edit-btn" class="icon fa-solid fa-pen"></i>
                <i id="print-btn" class="icon fa-solid fa-print"></i>
            </div>

            <div class="header-append">
                <p class="header-title italic">Appendix 36</p>   
            </div>
        </section>

        <section id="table-section">
            <table>
                <tr>
                  <th rowspan="2" colspan="4" id="header" style="width: 60%;"><span>JOURNAL ENTRY VOUCHER</span>
                    <table class="JEV-data">
                      <tr>
                        <td class="JEV-data">&ThickSpace;</td>
                      </tr>
                      <tr>
                        <th style="border: none; width: 15%"><span>Entity Name: </span></th>
                        <td class="JEV-data" contenteditable="true" style="text-align: left;">Games and Amusements Board</td>
                      </tr>
                      <tr>
                        <th style="border: none; width: 15%">Fund Cluster: </th>
                        <td class="JEV-data" id="jev-fund"style="text-align: left;"></td>
                      </tr>
                    </table>
                  </th>
                  <th class="small" colspan="2" style="width: 30%; text-align: left;"><span class="label">Jev No: </span><br><span id="jev-no">&ThickSpace; </span></th>
                </tr>
                <tr>
                  <th class="small" colspan="2" style="text-align: left;"><span class="label">Date: </span><br><span id="jev-date">&ThickSpace; Date</span></th>
                </tr>
                <tr>
                  <th rowspan="3" style="width: 15%;">Responsibility Center</th>
                  <th colspan="4" class="accountEn">
                     Accounting Entries
                  </th>

                </tr>
                <tr>
                  <th rowspan="2" style="width: 50%;">Accounts and Explanation</th>
                  <th rowspan="2" style="width: 10%">Uacs Object Code</th>
                  <th colspan="2">Amount
                    <tr>
                        <th style="width: 12%">Debit</th>
                        <th>Credit</th>
                    </tr>
                  </th>
                </tr>

                <tbody id="content-row">

                </tbody>
                <tbody>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                  <tr>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td contenteditable="true"><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                    <td><span>&ThickSpace;</span></td>
                  </tr>
                </tbody>            

                <tfoot>
                    <tr>
                      <td contenteditable="true"><span>&ThickSpace;</span></td>
                      <td class="payee"><span>&ThickSpace;Payee:</span></td>
                      <td><span>&ThickSpace;</span></td>
                      <td><span>&ThickSpace;</span></td>
                      <td><span>&ThickSpace;</span></td>
                    </tr>
                    <tr>
                      <td contenteditable="true"><span>&ThickSpace;</span></td>
                      <td contenteditable="true" rowspan="2"><span>&ThickSpace;Add Name</span></td>
                      <td><span>&ThickSpace;</span></td>
                      <td><span>&ThickSpace;</span></td>
                      <td><span>&ThickSpace;</span></td>
                    </tr>
                    <tr>
                      <td contenteditable="true"><span>&ThickSpace;</span></td>
                      <td class="total"><span>&ThickSpace;</span>TOTAL</td>
                      <td contenteditable="true" class="totalAmount" id="totalDebit"><span>&ThickSpace;</span></td>
                      <td contenteditable="true" class="totalAmount" id="totalCredit"><span>&ThickSpace;</span></td>
                    </tr>
                    <tr>
                      <th rowspan="2" colspan="2" class="left"><span>Prepared By: </span>
                        <table class="JEV-data">
                          <tr>
                            <td class="JEV-data">&ThickSpace;</td>
                          </tr>
                          <tr>
                            <th style="border: none;"></th>
                            <th contenteditable="true" style="border: none; text-decoration: underline" id="employee"><span>Add Name </span></th>
                            <th style="border: none;"></th>

                          </tr>
                          <tr>
                            <th style="border: none;"></th>
                            <th contenteditable="true" style="border: none;" class="center position">Position</th>
                            <th style="border: none;"></th>
                          </tr>
                        </table>
                      </th>
                      <th rowspan="2" colspan="3" class="left"><span>Certified Correct: </span>
                        <table class="JEV-data" class="chief">
                          <tr>
                            <td class="JEV-data">&ThickSpace;</td>
                          </tr>
                          <tr>
                            <th style="border: none;"></th>
                            <th contenteditable="true" style="border: none; text-decoration: underline;" class="center"><span>John Edrick M. Espiritu</span></th>
                            <th style="border: none;"></th>
                          </tr>
                          <tr>
                            <th style="border: none;"></th>
                            <th contenteditable="true" style="border: none;" class="center position">Chief, Accounting Section</th>
                            <th style="border: none;"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                </tfoot>
              </table>
        </section>

    <script>
        var printData = '<%-jsonData%>';
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/printJev-script.js"></script>
    
    </body>
</html>